html, body {
    margin: 0;
    padding: 0;
    height: 100%;   
    display: flex;
    flex-direction: column;
    font-family: "Lora", serif;
    background-color: #ebdacc; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
}

header {
    background-color: #945737;
}

main {
    flex: 1;
    margin-top: 7.5%;
}

.text-color-1 {
    color: #ebdacc;
}

.text-color-2 {
    color: #945737;
}

.text-color-3 {
    color: #8A3119;
}

.text-color-4 {
    color: #5A0F19;
}

.bg-color-1 {
    background-color: #ebdacc;
}

.bg-color-2 {
    background-color: #945737;
}

.bg-color-3 {
    background-color: #8A3119;
}

.bg-color-4 {
    background-color: #5A0F19;
}

.container-bg-transparent {
    background-color: rgba(0, 0, 0, 0.2);
}

.bi {
    vertical-align: -.125em;
    fill: #945737;
}

.dropdown-toggle::after {
    color: #ebdacc;
}

.dropdown-menu {
    background-color: #ebdacc; 
}

.dropdown-item {
    color: #945737;
}

.dropdown-item:hover {
    background-color: #945737;
    color: #ebdacc;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.33);
}

.form-signin {
    padding: 1rem;
}
  
.form-signin .form-floating:focus-within {
    z-index: 2;
}
  
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
  
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.img-fluid {
    height: 100vh;
    object-fit: cover;
}

.zoom:hover {
    transform: scale(1.2);
    transition: transform 0.5s;
}



.search-container {
    display: flex;
    align-items: center;
    margin-top: 20px;

}
.filter-container {
    margin-left: 10px;
    position: relative;
}
.filter-options {
    display: none;
    position: absolute;
    top: 35px;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1;
}
.filter-container:hover .filter-options {
    display: block;
}
.book-container {
    margin-top: 30px;
}
.book-title {
    text-align: center;
    margin-top: 10px;
}

input[type="text"] {
    font-size: 1.3rem;
    height: 50px;
}
.small-card-body {
    padding: 0.4rem;
}

.small-card-body h6 {
    font-size: 0.8rem;
    opacity: 0.7;
}
.genre-card {
    width: 100%;
    margin: auto auto 10px;
    transition: transform 0.3s ease-in-out;

}
.genre-card:hover {
    transform: scale(1.05);
}
.small-card-body {
    padding: 10px;
    text-align: center;
}
.genre-link {
    text-decoration: none;
    color: inherit;
}

.genre-link:hover {
    text-decoration: none;
}

.alphabet-filter {
    overflow-x: auto;
}
.alphabet-filter .btn.active {
    background-color: #0d6efd;
    color: white;
}
.literature-highlight {
    background-color: #e9ecef;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.book-image {
    width: 200px;
    height: 300px;
}
footer {
    padding: 100px 0;
}

/* Efecto de carga de la página */
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

body {
    animation: fadeIn 2s ease-in;
}

/* Estilos para el buscador */
input[type="text"]:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
}

/* Efecto hover en las categorías de búsqueda */
.book-container .col-md-3:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
/* Definimos la animación */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


.slide-in {
    animation: slideInFromLeft 2s ease-out;
}
#indexMessage {
    font-size: 1.2em;
    font-weight: bold;
}
.scroll-indicator {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    font-size: 2rem;
    color: #000;
    display: none;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}



@media (max-width: 767px) {
    .scroll-indicator {
        display: block;
    }

    main {
        margin-top: 25%;
    }

    .profile-name {
        display: none;
    }

}

